<div class="px-10">
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-xs">Lorem ipsum dolor <span highlight>Prueba para directiva</span> sit amet consectetur adipisicing elit. Incidunt, ad obcaecati? Odio est beatae iusto ipsa illum odit nesciunt expedita quo voluptates tempore, voluptatem nobis corrupti aperiam cum a deserunt?</p>
    <p class="text-xs">Número de clientes <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0" /></p>
    <div>
        <app-wave-audio audioUrl="assets/Audio/thinking-time.mp3"></app-wave-audio>
    </div>
</div>
